body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding : 0;
    
}



.header {
    background-color: #1F2937;
    color:white;
    flex: 1;
}


.media {
    display:flex;
    background-color: #1F2937;
    color:white;
    padding: 50px;
}

img{
   width: 100px;
   height: auto; 

}

.media-text{
    flex : 2 0 0;
}

