body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding : 0;
    
}



.hero-header {
    background-color: #1F2937;
    flex: 1;
    display:flex;
    padding-left: 100px;
    padding-right: 150px;
}

.logo{
    flex: 1;
    margin-right: auto;
    font-size: 24px;
    color:#F9FAF8;

}

a{
    color:inherit;
    text-decoration: none;
}


.media {
    display:flex;
    background-color: #1F2937;
    padding: 50px;
}

img{
   width: 100px;
   height: auto; 
   flex : 3 1 0;

}

.media-text{
    flex : 2 0 0;
}

.media-text p, .hero-header .links{
    font-size: 18px;
    color: #E5E7EB;
}

.info{
    display: flex;
    flex-direction: column;
}

.info .info-blocks{
    display: flex;
}

.info img{
    border-radius: 555px;
    border: 2px solid blue;
}


